/*INIICIO DE STYLE*/
body{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    width: 100%;
    background-color: white;
}
main {
    flex: 1;
}
/* Estilos personalizados para SweetAlert2 */
.swal2-popup {
    font-family: Arial, Helvetica, sans-serif;
}
/* scrollbar color, track color */
* {
    scrollbar-width: thin;
    scrollbar-color: #d6ae99 #D2C7C1;  
}
*::-webkit-scrollbar {
    width: 12px;
}
.encabezado{
    background-color: #7aa15a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 100%;
    padding: 5px 0 5px 0;
    gap: 10px;
    box-shadow: 0 7px 5px rgba(38, 37, 37, 0.25);
}

.titulo{
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
}

.conteiner{
    display: flex;
    justify-content: space-between;
    margin: 30px 30px 10px 30px; 
    gap: 40px;
    /*height: 800px;*/
    height: auto;
}
.subtitulo{
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    text-align: center; 
    padding: 20px 0 20px 0;
    color: #282727;
    width: 100%;
}
.cards-de-productos{
    box-sizing: border-box;
    gap:5px;
}

.lista-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 80vh;
    overflow-y: auto;
    width: 100%;
    background-color: #f7f4ee;
    box-shadow: -12px 10px 5px  rgba(66, 61, 61, 0.25);
    margin-bottom: 90px;
    padding-bottom: 100px;
}

.card{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    padding: 10px 15px 7px 11px;
    margin: 20px 5px 10px 10px;
    width: 230px;
    height: 310px;
    background-color: #869b72;
    border: 3px solid #323131;
    border-radius: 10px;
    box-shadow: -5px 6px 5px rgba(0, 0, 0, 0.25);
}
.producto-img{
    width: 230px;
    height: 230px;
    object-fit: cover;
    object-position: center;
    border-radius: 4%;
    border: 3px solid #151414;
    transition: transform 0.3s ease-in-out;
}
.producto-img:hover{
    transform: scale(1.2);
}
.card-container--info{
    padding-top: 10px;
    font-weight: normal;
    font-size: 16px;
}
.card-container--value{
    font-size: 18px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-button{
    border-style: none;
    cursor: pointer;
    background-color: transparent;
}
.delete-button:hover{
    background-color: rgb(193, 210, 195);
    border-radius: 30px;
}
.formulario-conteiner{
    width: 80%;   
}
.formulario-producto{
    text-align: center;
    padding: 20px;
    
}
.subtitulo-formulario{
    font-weight: bold;
    font-size: 32px;
    color: #282727;
} 
.datos-formulario{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 0 20px 0;
      
}
input{
    border-radius: 25px;
    height: 70px;
    width: 100%;
    border: none;
    padding-left: 10px;
    background-color: #DDBEA9;
    border-color: #DDBEA9;
}
input:focus {
    outline-color: #e98b8b;
  }
input::placeholder {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
  }
.parrafo-nombre{
  font-size: 20px;
  color: #e98b8b;
}
.botones{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
}
.boton-enviar{
    color:white;
    border-color: #5a8957;
    background-color: #5a8957;
}
.boton-enviar:hover{
    color:#5a8957;
    background-color: white;
    border-color: #5a8957;
}
.boton-limpiar{
    color:#5a8957;
    border-color: #5a8957;
    background-color: white;
}
.boton-limpiar:hover{
    color:white;
    background-color: #5a8957;
    border-color: #5a8957;
}
.boton-enviar, .boton-limpiar{
    width: 50%;
    height: 65px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    border:3px solid #5a8957;
}

.pie-de-pagina{
    background-color: #7aa15a;    
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    gap:10px;
    box-shadow: 0 -10px 5px rgba(0, 0, 0, 0.25);
    align-items: center;
    flex-direction: column;
    padding: 10px 0 10px 0;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    margin-top: 50px;
    
    
}
.logo-footer{
    display: flex;
    align-items: center;
}
.logo-footer img{
    height: 50px;
}

     
 @media (max-width: 768px) {
    .conteiner{
        
        flex-direction: column-reverse;
    }
    .encabezado{
        gap: 6px;
    }
    .titulo{
      font-size: 28px;
    }
    .subtitulo{
        padding: 10px 0 30px 0;
        font-size: 23px;
    }  
    .cards-de-productos{
        width: 100%;
        margin-top: 20px;
        flex: 1;
    }
    .lista-card{
        justify-content: space-evenly;
        height: 500px;
        
    }
    .formulario-conteiner{
        width: 100%;
        padding-top: 15px;
        
    }
    .formulario-producto{
        padding: 10px;
    }
    .subtitulo-formulario{
        font-size: 25px;
    }
    input{
        font-size: 18px;
        height: 55px;
    }

    .boton-enviar, .boton-limpiar{
        height: 60px;
    }
    .boton-enviar, .boton-limpiar{
        width: 50%;
    }
    .pie-de-pagina{
        justify-content: center;
        align-items: center;
        font-size: 11px;
        width: 100%;
        gap: 7px;
        height: auto;
    }
    .pie-de-pagina p{
        padding-left: 15px;
    }
}